:root {
  /* Change the properties below to customize your page */
  --background-color: #a6a6a6;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;

  display: grid;
  align-items: center;
  justify-items: center;

  background: var(--background-color);
}

canvas {
  display: block;
  /* Comment the line below to remove the shadow */
  box-shadow: 0px 10px 30px 0px var(--shadow-color);
}

.cursor-hidden {
  cursor: none;
}